@import '../../styles/common.scss';

.poster-create {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 4rem;
  margin-bottom: 8.5rem;
  position: relative;

  .poster-left{
    background: linear-gradient(#EDEDED, #CCCCCC);
    display: grid;
  }

  .right {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    form{
      display: flex;
      flex-direction: column;
    }
  }

  .poster-left{
    height: calc(100vh - 22vh - 30px);
  }
  .spans{
    @extend .font-p3;
    color: rgba($color-black, 0.5);
    margin-top: 1.6rem;

    span{
      color: $color-black;
    }
  }
}

@media (max-width: 1000px) {
  .poster-create {
    grid-template-columns: 1fr !important;
    margin-bottom: 6rem !important;
  }
  .poster-create .left {
    height: calc(75vh - 20.5vh - 30px) !important;
  }
}
