@import '../../styles/common.scss';

html > body > main > section.poster-create {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 4rem;
  margin-bottom: 8.5rem;
  position: relative;

  > .left {
    > .poster-left {
      background: linear-gradient(#ededed, #cccccc);

      > .tilt-container > .card-container > picture > img.empty {
        width: 40%;
        height: 40%;
      }
    }

    > .spans {
      @extend .font-p3;
      color: rgba($color-black, 0.5);
      margin-top: 1.6rem;

      > span {
        color: $color-black;
      }
    }
  }

  > .right {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    > form {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: $lg-screen) {
  html > body > main > section.poster-create {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    margin-bottom: 4rem;

    > .left {
      grid-row: 1;
    }

    > .right {
      grid-row: 2;
    }
  }
}

@media (max-width: $md-screen) {
  html
    > body
    > main
    > section.poster-create
    > .left
    > .poster-left
    > .tilt-container
    > .card-container
    > picture
    > img.empty {
    width: 60%;
  }
}
