@import '../../styles/common.scss';

.mail-form{
    display: flex;
    max-width: 60rem;
    flex-direction: column;
    gap: 2.5rem;
    background-color: $color-white;
    border-radius: $roundings;
    padding: 4rem 5rem;

    h2{
        @extend .font-h2;
        color: $color-black;
    }

}
form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}