@import '../../styles/common.scss';


.h1p{
    width: 100%;
    padding-top: 5.4rem;
    padding-bottom: 4rem;
    .wrap{
        max-width: 80rem;
        display: flex;
        flex-direction: column;
    }
    h1{
        color: $color-black;
    }
    p{
        @extend .font-p1;
        margin-top: 1.45rem;
        color: rgba($color-black, 0.8);
    }
}
