@import '../../styles/common.scss';

.gallery {
  height: auto;
  width: 100%;
  padding: 0 $paddings;
  display: flex;
  gap: 3%;

  .img-container {
    width: 100%;
    object-fit: contain;
  }
  img{
    width: 100%;
    border-radius: $roundings;
  }
}
