@import '../../styles/common.scss';
@import '../../../node_modules/swiper/swiper-bundle.css';

html > body > main > section.swiper-poster {
  width: calc(100% + 72px);
  margin-left: -36px;
  margin-right: -36px;

  @media (max-width: $md-screen) {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }

  > .swiper {
    > .swiper-button-prev,
    > .swiper-button-next {
      background-color: rgba(250, 250, 250, 0.6);
      backdrop-filter: blur(4px);
      margin: -7rem 1rem 0 1rem;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      border: 1.5px solid $color-black;
      backdrop-filter: blur(15px) !important;
      transition: $transitions;

      &::after {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        width: 80%;
        height: 80%;
      }

      &:hover {
        background-color: $color-white;
        backdrop-filter: blur(4px);
      }
    }

    > .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        opacity: 0.7;

        > .product-card {
          width: 37.5rem;
        }
      }

      > .swiper-slide-active,
      > .swiper-slide-next,
      > .swiper-slide-prev {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.swiper-button-next::after {
  background-image: url(/src/assets/icons/arrow-right.svg);
}
.swiper-button-prev::after {
  background-image: url(/src/assets/icons/arrow-left.svg);
}

@media (max-width: 1000px) {
  html
    > body
    > main
    > section.swiper-poster
    > .swiper
    > .swiper-wrapper
    > .swiper-slide-next,
  html
    > body
    > main
    > section.swiper-poster
    > .swiper
    > .swiper-wrapper
    > .swiper-slide-prev {
    pointer-events: none;
    opacity: 0.7;
  }
}

@media (max-width: $md-screen) {
  html > body > main > section.swiper-poster > .swiper > .swiper-button-prev,
  html > body > main > section.swiper-poster > .swiper > .swiper-button-next {
    height: 4rem;
    width: 4rem;
  }
}
