$color-accent: #0E63E3;
$color-black: #2A2B2C;
$color-white: #FAFAFA;

$color-success: #6EAD48;
$color-warning: #ECB53D;
$color-error: #E54E1F; 

$color-button-hover: #3DA2FF;
$color-button-pressed: #004FC6;
$color-button-disable: $color-black;
$color-button-focused-border: #9F9FD7;
