@import './typography.scss';
@import './screens.scss';
@import './variables.scss';

body {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

html {
  /* 10px */
  font-size: 62.5%;
}
