@import './colors.scss';
@import './other.scss';
@import './typography.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: $color-white;
}

