@import './reset.scss';
@import './colors.scss';
@import './other.scss';
@import './typography.scss';
@import './screens.scss';

body {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}
