@import './screens.scss';



// @media (min-width: 1300px) {
//   $paddings: 10rem !default;
//   html {
//     font-size: 65%;
//   }
// }
// @media (max-width: 700px) {
//   $paddings: 10rem !default;
//   html {
//     font-size: 60%;
//   }
// }

@font-face {
  font-family: 'TTHoves Light';
  font-weight: 300; // Light
  src: url('/src/assets/font/TTHoves-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'TTHoves';
  font-weight: 400; // Regular
  src: url('/src/assets/font/TTHoves-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TTHoves Medium';
  font-weight: 500; // Medium
  src: url('/src/assets/font/TTHoves-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'TTHoves Extrabold';
  font-weight: 800; // ExtraBold
  src: url('/src/assets/font/TTHoves-ExtraBold.ttf') format('truetype');
}

h1 {
  font-family: 'TTHoves Medium';
  font-size: 4.2rem;
}
.font-h1-poster {
  font-family: 'TTHoves Medium';
  font-size: 3.2rem;
  line-height: 107%;
}
.font-h1-hero {
  font-family: 'TTHoves';
  font-size: 3.5rem;
}
.font-h2-mini {
  font-family: 'TTHoves Medium';
  font-size: 1.8rem;
}
h2 {
  font-family: 'TTHoves Medium';
  font-size: 2.4rem;
}
.font-p1-hero {
  font-family: 'TTHoves Light';
  font-size: 2rem;
}
.font-p1-medium {
  font-family: 'TTHoves Medium';
  font-size: 2.2rem;
}
.font-p1 {
  font-family: 'TTHoves';
  font-size: 2rem;
  line-height: 150%;
}
.font-p2 {
  font-family: 'TTHoves';
  font-size: 1.6rem;
}
.font-p3 {
  font-family: 'TTHoves';
  font-size: 1.5rem;
}
.font-button {
  font-family: 'TTHoves';
  font-size: 1.4rem;
}
.font-filters {
  font-family: 'TTHoves';
  font-size: 1.5rem;
  text-transform: uppercase;
}
.font-label {
  font-family: 'TTHoves';
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media (max-width: $lg-screen) {
  h1 {
    font-family: 'TTHoves Medium';
    font-size: 2.5rem;
  }
  .font-h1-poster {
    font-family: 'TTHoves Medium';
    font-size: 2.2rem;
    line-height: 107%;
  }
  .font-h1-hero {
    font-family: 'TTHoves';
    font-size: 2.5rem;
  }
  h2 {
    font-family: 'TTHoves Medium';
    font-size: 1.7rem;
  }
  .font-p1-hero {
    font-family: 'TTHoves Light';
    font-size: 2.6rem;
  }
  .font-p1-medium {
    font-family: 'TTHoves Medium';
    font-size: 1.5rem;
  }
  .font-p1 {
    font-family: 'TTHoves';
    font-size: 1.5rem;
    line-height: 150%;
  }
  .font-p2 {
    font-family: 'TTHoves';
    font-size: 1.4rem;
  }
  .font-p3 {
    font-family: 'TTHoves';
    font-size: 1.2rem;
  }
  .font-button {
    font-family: 'TTHoves';
    font-size: 1.3rem;
  }
  .font-filters {
    font-family: 'TTHoves';
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .font-label {
    font-family: 'TTHoves';
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}
