$color-accent: #0E63E3;
$color-black: #2A2B2C;
$color-white: #FAFAFA;

$color-success: #6EAD48;
$color-warning: #ECB53D;
$color-error: #E54E1F; 

$color-button-hover: #3DA2FF;
$color-button-pressed: #004FC6;
$color-button-disable: #2A2B2C;
$color-button-focused-border: #9F9FD7;

$roundings: 1rem;
$transitions: 0.2s ease;

$xs-screen: 359px;
$md-screen: 639px;
$lg-screen: 1023px;
$xl-screen: 1439px;
