@import '../../styles/common.scss';

html > body > main > dialog {
  background-color: rgba(97, 97, 97, 0.5);
  position: fixed;
  inset: 0;
  z-index: 101;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  justify-content: center;
  transition: all 0.5s ease;
  display: block;

  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(15px);
  width: 100%;
  height: auto;
  border: 0;
  padding: 7% 1rem;

  > .dialog-popup {
    width: 100%;
    max-width: 96rem;
    background-color: $color-white;
    position: relative;
    border-radius: $roundings;
    display: none;
    min-height: 54rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;

    &.active {
      display: grid;
    }

    > .left-side {
      background-size: cover;
      background-position: center;
      height: 100%;
      border-radius: $roundings;
      display: flex;
      align-items: flex-end;
      position: relative;
      overflow: hidden;

      > .close {
        width: 4rem;
        height: 4rem;
        position: absolute;
        z-index: 10;
        top: 0;
        margin: 4rem;
      }

      > picture > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $roundings;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }

      > p {
        @extend .font-p2;
        color: $color-white;
        position: absolute;
        margin: 4rem;

        > span {
          @extend .font-p2;
          transition: 200ms;
          cursor: pointer;
          text-decoration: underline;
          color: $color-white;

          &:hover {
            color: rgba($color-white, 0.6);
          }
        }
      }
    }

    > .right-side {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .or-google {
        width: 100%;
        display: flex;
        flex-direction: column;
        > p {
          @extend .font-label;
          align-self: center;
          color: rgba($color-black, 0.5);
          margin-bottom: 1.5rem;
        }
      }

      > form.register {
        min-height: 41rem;
      }

      > form.register > ul.fields > .password-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 100%;
      }

      .blac {
        @extend .font-p2;
        color: $color-black;
        align-self: flex-end;
        transition: 200ms;
        cursor: pointer;
        text-decoration: underline;
        margin-top: -0.5rem;

        &:hover {
          color: rgba($color-black, 0.6);
        }
      }
    }
  }
}

.pop-active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: $xl-screen) {
  html > body > main > dialog {
    padding: 5% 1rem;
  }
}
@media (max-width: $lg-screen) {
  html > body > main > dialog > .dialog-popup > .right-side {
    padding: 3rem;
  }

  html
    > body
    > main
    > dialog
    > .dialog-popup
    > .right-side
    > form.register
    > ul.fields
    > .password-wrap {
    gap: 1rem;
  }
}
@media (max-width: $md-screen) {
  html > body > main > dialog {
    padding: 0;

    > .dialog-popup {
      grid-template-columns: 1fr;

      > .left-side {
        height: 35rem;

        > .close {
          right: 0;
        }
      }
      > .right-side {
        padding: 3rem 2rem;

        > form.register {
          min-height: 37rem;
        }
      }
    }
  }
}
