@import '../../styles/common.scss';

.poster-bar{
    width: 100%;
    padding: 0 $paddings;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 2rem;
    row-gap: 5.8rem;
    margin-bottom: 8rem;
}