@import '../../styles/common.scss';

html > body > header#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 0;
  background-color: $color-white;
  border-bottom: 0.07rem solid rgba($color-black, 0.2);
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12));
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  > .left {
    display: flex;
    width: 35%;
    justify-content: space-between;

    > a {
      font-family: 'TTHoves';
      font-size: 24px;
      font-family: 'TTHoves Extrabold';
      color: $color-accent;
      text-decoration: none;
      transition: 200ms;

      &:hover {
        color: $color-button-hover;
      }
    }

    > nav {
      width: 42%;
      align-self: center;

      > ul.sidebar {
        position: absolute;
        top: 6.5rem;
        right: 0;
        left: 0;
        padding-bottom: 2rem;
        z-index: 80;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        justify-content: flex-start;
        transition: $transitions;

        &.active {
          max-height: 500px;
          opacity: 1;
          visibility: visible;
          transition: max-height 0.2s ease-in, opacity 0.3s ease-in;
        }

        > li {
          width: 100%;

          &.sidebar-hidden {
            display: none;
          }

          &.buttons {
            padding: 1rem 0 1rem 3.6rem;

            > .outline {
              margin-left: 1rem;
            }
          }

          > a {
            @extend .font-p1;
            display: block;
            width: 100%;
            padding: 2rem 3.6rem;
            text-align: left;
            font-size: 1.6rem;
            text-decoration: none;
            color: $color-black;

            &:hover {
              background-color: rgba($color-black, 0.12);
            }
          }
        }
      }

      > ul.wide {
        display: flex;
        list-style: none;
        justify-content: space-between;

        > li > a {
          @extend .font-button;
          text-decoration: none;
          transition: 200ms;
          color: $color-black;
          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }

  > .button-area {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    > a.outline {
      margin-right: 3rem;
    }

    > .icons-wrapper {
      display: flex;
      gap: 31px;

      > a {
        cursor: pointer;

        > svg {
          path {
            transition: $transitions;
          }

          &:hover {
            path {
              stroke: $color-accent;
            }
          }
        }
      }
    }

    > .separator {
      width: 1px;
      height: 32px;
      background-color: rgba($color-black, 0.12);
      margin: 0 5px;
    }
  }

  > .menu-button {
    display: none;
    position: relative;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $color-white;

    &.active {
      &::before {
        transform: rotate(45deg);
        top: calc(50% - 2px);
      }

      &::after {
        transform: rotate(-45deg);
        top: calc(50% - 2px);
      }

      > span {
        transform: scale(0);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 60%;
      height: 0.2rem;
      background-color: $color-black;
      border-radius: 1rem;
      transition: all 0.2s ease;
      top: 1.2rem;
    }

    > span {
      position: absolute;
      width: 60%;
      height: 0.2rem;
      background-color: $color-black;
      border-radius: 1rem;
      transition: all 0.2s ease;
    }

    &::after {
      content: '';
      position: absolute;
      width: 60%;
      height: 0.2rem;
      background-color: $color-black;
      border-radius: 1rem;
      transition: all 0.2s ease;
      bottom: 1.2rem;
    }
  }
}

@media (max-width: 1000px) {
  html > body > header#header {
    > .menu-button {
      display: flex;
      cursor: pointer;
    }
    > .left {
      width: auto;

      > nav > ul.wide {
        display: none;
      }
    }
    > .button-area > .icons-wrapper {
      display: none;
    }
    > .button-area > a.outline {
      margin-right: 0;
    }
  }
}
@media (max-width: 730px) {
  html > body > header#header > .button-area {
    display: none;
  }

  html > body > header#header > .left > nav > ul.sidebar > li.sidebar-hidden {
    display: block;
  }
}

@media (min-width: 1001px) {
  html > body > header#header > .left > nav > ul.sidebar {
    display: none !important;
  }
}

@media (max-width: $md-screen) {
  html > body > header#header > .left > nav > ul.sidebar > li > a,
  html > body > header#header > .left > nav > ul.sidebar > li.buttons
  {
    padding-left: 1.6rem;
  }
}
