@import '../../styles/common.scss';

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 0;
  background-color: $color-white;
  border-bottom: 0.07rem solid rgba($color-black, 0.2);
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12));
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .logo {
    font-family: 'TTHoves';
    font-size: 24px;
    font-family: 'TTHoves Extrabold';
    color: $color-accent;
    text-decoration: none;
    transition: 200ms;
    &:hover {
      color: $color-button-hover;
    }
  }

  nav {
    width: 42%;
    align-self: center;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
    }

    a {
      @extend .font-button;
      text-decoration: none;
      transition: 200ms;
      color: $color-black;
      &:hover {
        color: $color-accent;
      }
    }
  }

  .icons-wrapper {
    display: flex;
    gap: 31px;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  svg {
    cursor: pointer;

    path {
      transition: $transitions;
    }

    &:hover {
      path {
        stroke: $color-accent;
      }
    }
  }

  .separator {
    width: 1px;
    height: 32px;
    background-color: rgba($color-black, 0.12);
    margin: 0 5px;
  }

  .button-area {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .left {
    display: flex;
    width: 35%;
    justify-content: space-between;
  }
  .menu-button {
    display: none;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: $color-white;

    &::after {
      content: '';
      background-image: url(/src/assets/icons/burger.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25rem;
    z-index: 101;
    background-color: $color-white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0 20px rgba($color-black, 0.07);

    ul {
      width: 100%;
    }
    li {
      width: 100%;
      // padding: 2rem;
    }
    a {
      display: block;
      width: 100%;
      padding: 2rem; 
      text-align: left; 
      font-size: 1.6rem; 
      text-decoration: none;
      color: $color-black;

      &:hover {
        background-color: rgba($color-black, 0.12); 
      }
    }
  }
}

@media (max-width: 1000px) {
  .menu-button {
    display: block !important;
  }
  .wide{
    display: none !important;
  }
  .icons-wrapper{
    display: none !important;
  }
  .left{
    width: auto !important;
  }
  .button-area a {
    margin-right: 0 !important;
  }
}
@media (max-width: 730px){
  .button-area{
    display: none !important;
  }
  .sidebar-hidden{
    display: block !important;
  }
}
