@import "../../styles/common.scss";

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 3rem;
  background-color: $color-white;
  border-bottom: 0.07rem solid rgba($color-black, 0.2);
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12));
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .logo {
    font-family: "TTHoves";
    font-size: 24px;
    font-weight: $fontweight-extrabold;
    color: $color-accent;
    text-decoration: none;
    transition: 200ms;
    &:hover {
      color: $color-button-hover;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 42%;
    align-self: center;

    a {
      @extend .font-button;
      text-decoration: none;
      transition: 200ms;
      color: $color-black;
      &:hover {
        color: rgba($color-black, 0.6);
      }
    }
  }

  .icons-wrapper {
    display: flex;
    gap: 31px;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  svg {
    cursor: pointer;

    path {
      transition: $transitions;
    }

    &:hover {
      path {
        stroke: $color-accent;
      }
    }
  }

  // svg{
  //   path {
  //     stroke: #2A2B2C;
  //     transition: stroke 0.3s ease; /* Плавный переход для обводки */
  //   }

  //   path:hover {
  //     stroke: #FF5733; /* Цвет обводки при наведении */
  //   }

  // }

  .separator {
    width: 1px;
    height: 32px;
    background-color: rgba($color-black, 0.12);
    margin: 0 5px;
  }

  .button-area {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .left {
    display: flex;
    width: 35%;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .button-area {
    flex-direction: column;
  }
}
