@import '../../styles/common.scss';

html > body > footer#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-black;
  padding-top: 5rem;
  padding-bottom: 1rem;

  > div.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    margin-bottom: 9%;

    > article {
      > ul {
        display: flex;
        justify-content: space-between;

        > li > a:hover {
          color: rgba($color-white, 0.5);
        }
      }

      > a:hover {
        color: rgba($color-white, 0.5);
      }

      .label {
        @extend .font-p2;
        color: rgba($color-white, 0.5);
        margin-bottom: 0.6rem;
      }

      .value {
        @extend .font-p1;
        color: $color-white;
      }
    }

    > article.long {
      width: 35%;
    }
  }

  > svg {
    width: 100%;

    > path {
      fill: $color-white;
      opacity: 0.8;
      transition: fill 1s cubic-bezier(0.7, 0, 0.7, 0.7);
    }

    &:hover {
      path {
        fill: white !important;
        // opacity: 0.6;
      }
    }
  }
}

@media (max-width: 800px) {
  html > body > footer#footer > div.top {
    max-width: 54rem;
    margin-bottom: 15%;

    > article.long {
      width: 100%;
      max-width: 35rem;
    }
  }
  html > body > footer#footer > svg > path {
    fill: white;
    opacity: 1;
  }
}
