<a href="/posters/american-architecture/index.html" title="American Architecture">
  <div class="product-card-container">
    <img src="../../assets/img/image 65.png" alt="American Architecture" />
    <!-- <button class="favorite-btn">&#10084;</button> -->
  </div>
  <footer class="product-info">
    <h2>American Architecture</h2>
    <div class="separator"></div>
    <div class="product-meta">
      <p class="author">@bomboсlat</p>
      <p class="price">3 500 ₽</p>
    </div>
  </footer>
</a>
